@font-face {
    font-family: "font";
    src: url(../sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    gap: 12px;
    background: transparent;
    aspect-ratio: auto 150/150;
}
.image{
    position: relative;
}
.image1{
    position: absolute;
}