@font-face {
    font-family: "font";
    src: url(../sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    gap: 12px;
    background: transparent;
    aspect-ratio: auto 150/150;
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: auto;
}
.modal__window {
    position: relative;
    background: transparent;
    padding: 4em 2em;
}
.modal__close {
    position: absolute;
    top: -30px;
    right: 0;
}
#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}