@font-face {
    font-family: "font";
    src: url(../sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    display: flex;
    gap: 12px;
    background: transparent;
    aspect-ratio: auto 150/150;
}
.vvv{
    background: transparent;
}