@font-face {
    font-family: "font";
    src: url(../sfmedium.OTF);
}
body{
    font-family: "font";
    color: rgb(0, 0, 0);
}
.myworld{
    width: 100px;
    height: 100px;
    background-color: black;
}