@font-face {
    font-family: "font";
    src: url();
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    display: flex;
}
.WTC{
    width: 100px;
    height: 100px;
    background-color: rgb(145, 95, 54);
    text-decoration: none;
    color: inherit;
}
.other{
    width: 100px;
    height: 100px;
    background-color: rgb(124, 88, 148);
    text-decoration: none;
    color: inherit;
}