@font-face {
    font-family: "font";
    src: url(sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    display: flex;
    gap: 10px;
}
.WTC{
    width: 100px;
    height: 100px;
    background-color: rgb(145, 95, 54);
    color: inherit;
    text-decoration: none;
}
.link{
  color: inherit;
  text-decoration: none;
}
.other{
    width: 100px;
    height: 100px;
    background-color: rgb(124, 88, 148);
    text-decoration: none;
    color: inherit;
}