@font-face {
    font-family: "font";
    src: url(./sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.flex-container{
    display: flex;
    gap: 10px;
}
.myworld{
    width: 100px;
    height: 100px;
    background-color: darkred;
    text-decoration: none;
    color: inherit;
}
.gif{
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    text-decoration: none;
    color: inherit;
}
.pics{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    text-decoration: none;
    color: inherit;
}
.music{
    width: 100px;
    height: 100px;
    background-color: rgb(105, 29, 150);
    text-decoration: none;
    color: inherit;
}