@font-face {
    font-family: "font";
    src: url(sfmedium.OTF);
}
body{
    font-family: "font";
    color: white;
    background-color: black;
}
.myworld{
    width: 100px;
    height: 100px;
    background-color: darkred;
    text-decoration: none;
    color: inherit;
}
.gif{
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    text-decoration: none;
    color: inherit;
}